# Ignore everything in this directory
*

# Whitelist the website files and folders
!index.html
!admin.html
!logo.png
!style.css
!app.js
!admin.css
!admin.js
!frame-core.js
!frame-admin.js
!frame-khach.js
!frame.css
!anh-the.html
!thu-anh-the.html
!anh-the-khach.js
!anhthe-core.js
!anhthe-ai.js
!.gitignore
!database.rules.json
!firebase.json
!.firebaserc
